
.article-flow{
    display:flex;
    justify-content: space-between;

    width: 50%;
    margin: 0 auto;
}

.articles-leftArrow{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.articles-leftArrow a{
    display: flex;
    justify-content: center;
    vertical-align: middle;

    margin: 5px;
    padding: 5px;
}

.articles-rightArrow{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.articles-rightArrow a{
    display: flex;
    justify-content: center;
    vertical-align: middle;

    margin: 5px;
    padding: 5px;
}

.articles-page-list{
    display: flex;
    justify-content: center;
}

.articles-page-list li{
    margin: 5px;
    padding: 5px;
}


.articles-page-list li.currentPage{
    border-bottom: 1px solid;
    border-color: black;
}

#article-list{
    display: flex;
    justify-content: left;
    flex-flow: column wrap;
}

.article{
    display: flex;
    justify-content:space-between;
    height: 200px;
    width: 90%;
    border: 3px solid;
    border-color: black;
    color: black;

    padding:20px 10px 10px;
    margin: 10px 20px;
}

.article:hover{
    opacity: 0.6; 
    filter: brightness(110%); 
}

    .article-image{
        height: 100%;
        width: 45%;
    }

    .article-image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .article-text{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .article-title{
        font-size:20px;
        height: 40%;
        font-weight:bold;
    }

    .article-bottom{
        display: flex;
        justify-content: space-between;
        height:10%;

        font-size:12px;
    }

        .article-tags{
            display: flex;
            justify-content: right;
        }

            .article-tags li{
                margin-left:10px;
            }
    