<aside>
    <div class="aside-block" id="profile">
        <img src="images/Rectangle 1.png" alt="プロフィール画像" id="profile-image">
        <h3>中西</h3>
        <span>
            大学生<br>
            無職<br>
            趣味がプログラミングとゲーム制作<br>
        </span>
    </div>
    <div class="aside-block" id="adv">
        <h3>おすすめ記事</h3>
        <span>
            しらすバター明太しそペースト挟みフランスパン
        </span>
    </div>
    <div class="aside-block" id="recomend-article">
        <h3>関連記事</h3>
        <span>
            筋肉は裏切らない
        </span>
    </div>
</aside>